In [53]:
import pandas as pd

# Train Test Split
from sklearn.model_selection import train_test_split

# Column Transformr
from sklearn.compose import ColumnTransformer

# Encoders
from sklearn.preprocessing import OrdinalEncoder, OneHotEncoder

# Classifiers
from sklearn.ensemble import RandomForestClassifier
from sklearn.neighbors import KNeighborsClassifier
from xgboost import XGBClassifier

# Evaluation metrics
from sklearn.metrics import accuracy_score

In [40]:
pd.set_option('display.max_columns', None)

In [41]:
df = pd.read_csv(r'F:\GUVI_DATA_SCIENCE\Project\Financial_Risk_Detection\Datasets\preprocessed_data.csv')
df.sample()

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,NAME_TYPE_SUITE,NAME_INCOME_TYPE,NAME_EDUCATION_TYPE,NAME_FAMILY_STATUS,NAME_HOUSING_TYPE,REGION_POPULATION_RELATIVE,DAYS_BIRTH,DAYS_EMPLOYED,DAYS_REGISTRATION,DAYS_ID_PUBLISH,FLAG_EMP_PHONE,FLAG_WORK_PHONE,FLAG_PHONE,FLAG_EMAIL,CNT_FAM_MEMBERS,REGION_RATING_CLIENT,REGION_RATING_CLIENT_W_CITY,WEEKDAY_APPR_PROCESS_START,HOUR_APPR_PROCESS_START,REG_REGION_NOT_LIVE_REGION,REG_REGION_NOT_WORK_REGION,LIVE_REGION_NOT_WORK_REGION,REG_CITY_NOT_LIVE_CITY,REG_CITY_NOT_WORK_CITY,LIVE_CITY_NOT_WORK_CITY,ORGANIZATION_TYPE,EXT_SOURCE_2,OBS_30_CNT_SOCIAL_CIRCLE,DEF_30_CNT_SOCIAL_CIRCLE,OBS_60_CNT_SOCIAL_CIRCLE,DEF_60_CNT_SOCIAL_CIRCLE,DAYS_LAST_PHONE_CHANGE,FLAG_DOCUMENT_2,FLAG_DOCUMENT_3,FLAG_DOCUMENT_4,FLAG_DOCUMENT_5,FLAG_DOCUMENT_6,FLAG_DOCUMENT_7,FLAG_DOCUMENT_8,FLAG_DOCUMENT_9,FLAG_DOCUMENT_10,FLAG_DOCUMENT_11,FLAG_DOCUMENT_12,FLAG_DOCUMENT_13,FLAG_DOCUMENT_14,FLAG_DOCUMENT_15,FLAG_DOCUMENT_16,FLAG_DOCUMENT_17,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21
83466,197760,0,Cash loans,F,N,Y,0,67500.0,67500.0,7218.0,67500.0,Family,Working,Higher education,Civil marriage,House / apartment,0.001417,17546,210,7436.0,1084,1,0,0,1,2.0,2,2,WEDNESDAY,8,0,0,0,0,0,0,Hotel,0.319478,2.0,1.0,2.0,1.0,2345.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [42]:
df['TARGET'].value_counts()

TARGET
0    279860
1     24667
Name: count, dtype: int64

##### **Model Training**

In [43]:
x = df.drop(['SK_ID_CURR', 'TARGET', 'AMT_GOODS_PRICE', 'REGION_RATING_CLIENT', 'OBS_30_CNT_SOCIAL_CIRCLE', 'DEF_60_CNT_SOCIAL_CIRCLE'], axis = 1)
y = df['TARGET']

In [45]:
x = df[['CNT_CHILDREN',
    'AMT_INCOME_TOTAL',
    'AMT_CREDIT',
    'AMT_ANNUITY',
    'REGION_POPULATION_RELATIVE',
    'DAYS_BIRTH',
    'DAYS_EMPLOYED',
    'DAYS_REGISTRATION',
    'DAYS_ID_PUBLISH',
    'FLAG_WORK_PHONE',
    'FLAG_PHONE',
    'CNT_FAM_MEMBERS',
    'REGION_RATING_CLIENT_W_CITY',
    'HOUR_APPR_PROCESS_START',
    'REG_CITY_NOT_LIVE_CITY',
    'REG_CITY_NOT_WORK_CITY',
    'LIVE_CITY_NOT_WORK_CITY',
    'EXT_SOURCE_2',
    'OBS_60_CNT_SOCIAL_CIRCLE',
    'DAYS_LAST_PHONE_CHANGE',
    'FLAG_DOCUMENT_3',
    'CODE_GENDER',
    'FLAG_OWN_CAR',
    'FLAG_OWN_REALTY',
    'NAME_TYPE_SUITE',
    'NAME_INCOME_TYPE',
    'NAME_EDUCATION_TYPE',
    'NAME_FAMILY_STATUS',
    'WEEKDAY_APPR_PROCESS_START',
    'ORGANIZATION_TYPE']]

In [46]:
x.sample()

,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,REGION_POPULATION_RELATIVE,DAYS_BIRTH,DAYS_EMPLOYED,DAYS_REGISTRATION,DAYS_ID_PUBLISH,FLAG_WORK_PHONE,FLAG_PHONE,CNT_FAM_MEMBERS,REGION_RATING_CLIENT_W_CITY,HOUR_APPR_PROCESS_START,REG_CITY_NOT_LIVE_CITY,REG_CITY_NOT_WORK_CITY,LIVE_CITY_NOT_WORK_CITY,EXT_SOURCE_2,OBS_60_CNT_SOCIAL_CIRCLE,DAYS_LAST_PHONE_CHANGE,FLAG_DOCUMENT_3,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,NAME_TYPE_SUITE,NAME_INCOME_TYPE,NAME_EDUCATION_TYPE,NAME_FAMILY_STATUS,WEEKDAY_APPR_PROCESS_START,ORGANIZATION_TYPE
229323,0,202500.0,1247184.0,36594.0,0.003122,11305,1294,5167.0,1592,0,0,2.0,3,11,0,1,1,0.675853,0.0,898.0,1,M,Y,Y,Family,Working,Secondary / secondary special,Married,SATURDAY,Business Entity Type 3

In [47]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.2, random_state = 42)
print(x_train.shape, x_test.shape)

(243621, 30) (60906, 30)

##### **Encoding Categorical Columns**

In [48]:
transformer = ColumnTransformer([('trans1' ,OneHotEncoder(sparse_output = False, handle_unknown = 'error', drop = 'first'), [21, 22, 23, 24, 25, 26, 27, 28, 29])], remainder = 'passthrough')

In [49]:
x_train_transformed = transformer.fit_transform(x_train)
x_test_transformed = transformer.transform(x_test)

##### **Fitting the model**

##### **Random Forest Classifier**

In [50]:
rfc =  RandomForestClassifier(random_state = 42)
rfc.fit(x_train_transformed, y_train)

y_train_pred_1 = rfc.predict(x_train_transformed)
y_test_pred_1 = rfc.predict(x_test_transformed)

##### **Evaluation**

##### **1. Accuracy score**

##### **Random Forest Classifier**

In [54]:
train_score_1 = accuracy_score(y_train, y_train_pred_1)
print('The f1 score of training set :',train_score_1)

test_score_1 = accuracy_score(y_test, y_test_pred_1)
print('The f1 score of testing set :',test_score_1)

The f1 score of training set : 0.9999712668448122
The f1 score of testing set : 0.9199422060223952

##### *Conclusion - RandomforestClassifier Performs better for this Scenario with a Accuracy score of 99% in training set and a Accuracy score of 91% in testing set*

##### **Saving the model**

In [25]:
import pickle

In [55]:
# Model Object
pickle.dump(rfc, open(r'F:\GUVI_DATA_SCIENCE\Project\Financial_Risk_Detection\Artifacts\model.pkl', 'wb'))

# Vectorizer
pickle.dump(transformer, open(r'F:\GUVI_DATA_SCIENCE\Project\Financial_Risk_Detection\Artifacts\transformer.pkl', 'wb'))